/.idea
/.vscode
/node_modules
/storage/*.key
/vendor
/public/images
/public/assets
/public/uploads
/public/js
/public/css
/public/hot
/public/tmp
/public/mix-manifest.json
package-lock.json
mix-manifest.json

#Laravel Nova
auth.json
/nova-components/*/node_modules
/nova-components/*/composer-lock.json
/nova-components/*/dist
#

.env
.env.backup
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

composer.lock
npm-debug.log
yarn-error.log
/public/css/style.css
