.course {
  &-title {
    &__main {
      &-avatar {
        width: 55px;
        min-width: 55px;
        height: 55px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-author {
        &-name {
          display: flex;
          align-items: center;

          .icon {
            width: 15px;
            height: 15px;
            margin-right: 10px;
            background-image: url('../images/icons/clip.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }

  &-lesson {
    &-teacher {
      &-icon {
        width: 48px;
      }
      &-name {
        margin: 0;
      }
    }
    &-video {
      &-wrapper {
        padding: 35px;
        //max-width: 1100px;
        position: relative;
        border: 4px solid $border-secondary;

        .iframe-wrapper {
          position: relative;
          padding-bottom: 56.25%; /* 16:9 */
          height: 0;
        }

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: none;
        }
      }
    }

    @media (max-width: 768px) {
      &-video {
        &-wrapper {
          padding: 10px;
        }
      }
      &-material {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__image {
          margin-bottom: 15px;
        }

        &__description {
          padding: 0;
          margin-bottom: 15px;
          align-self: center;
        }
      }
    }
  }

  &-quiz {
    img {
      max-width: 100%;
    }

    &-progress {
      display: flex;
      align-items: center;
      background-color: inherit;
      height: 20px;
      border-radius: 0;

      &__item {
        cursor: pointer;
        height: 20px;
        max-width: 130px;
        width: 100%;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
    &-item {
      &-title {
        font-size: 20px;
        margin-bottom: 25px;
        font-family: 'Montserrat Medium', sans-serif;
      }
    }
    &-answer {
      &__item {
        font-size: 18px;
        padding-left: 40px;

        .custom-control-label {
          cursor: pointer;

          &:before {
            left: -2.5rem;
          }
          &:after {
            left: -2.5rem;
          }
        }
        &.selected_by_student {
          i {
            font-size: 14px;
          }
        }
        &.not_correct {
          label {
            &:before {
              background-color: #dc3545;
              border: #dc3545 solid 4px;
            }
          }
        }
        &.is_correct, &.success {
          label {
            &:before {
              background-color: #28a745;
              border: #28a745 solid 4px;
            }
          }
        }
      }

      &__item:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    .card {
      &-title {
        margin-bottom: 20px;
      }
    }
  }

  &-schoolwork {
    &-comment {
      &__item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        &--avatar {
          width: 60px;
          height: 60px;
          min-width: 60px;
          min-height: 60px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 30px;

          img {
            width: 100%;
          }
        }

        &--block {
          width: 100%;

          &--name {
            font-family: 'Montserrat Bold', sans-serif;
          }
        }
      }
    }

    @media (max-width: 576px) {
      &-comment {
        &__item {
          &--avatar {
            display: none;
          }
        }
      }
    }
  }
}